[submodule "mod/CLI11"]
	path = mod/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "mod/spdlog"]
	path = mod/spdlog
	url = https://github.com/gabime/spdlog
[submodule "mod/doctest"]
	path = mod/doctest
	url = https://github.com/doctest/doctest
[submodule "mod/nanobench"]
	path = mod/nanobench
	url = https://github.com/martinus/nanobench
